:root {
    --color-light: rgb(73, 177, 229);
    --color-dark: rgb(0, 71, 146);
}

@font-face {
    font-family: Flama-Book;
    src: url(/fonts/Flama-Book.otf);
}

@font-face {
    font-family: Flama-Book;
    font-weight: bold;
    src: url(/fonts/Flama-Semibold.otf);
}

@font-face {
    font-family: Flama-Book;
    font-weight: 900;
    src: url(/fonts/Flama-Extrabold.otf);
}

body#bruDigitalContest {
    font-family: Flama-Book, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Ubuntu",
        "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.circularBtn {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    padding-top: 3.8rem;
}

.contestAnswerPhotoCol {
    text-align: center;
}

.contestAnswerPhoto {
    border-radius: 35px;
}

.contestBtnCol {
    padding-top: 180px;
}

.reviewGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
}

#reviewTextContainer {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: auto 50px 50px;
    grid-row-gap: 0.3rem;
}

.reviewRightAnswer {
    color: #d1f5db;
}

.reviewWrongAnswer {
    color: #f59999;
}

.bru-index-bg {
    background: url(/Front_Image.jpg) no-repeat center;
    background-size: cover;
}

.splashTitleBox {
    background-color: #fff;
    opacity: 0.9;
    font-weight: 900;
}

.bru-text-light {
    color: var(--color-light);
}

.bru-bg-light {
    background-color: var(--color-light);
}

.bru-btn-light, input.bru-bg-light {
    border-color: var(--color-light);
}

.bru-square {
    border-radius: 0;
}

.contestGrid {
    display: grid;
    grid-template-columns: 1fr minmax(500px,810px) 1fr;
    align-items: center;
    justify-items: center;
}

.contestBtn {
    width: 100%;
    height: 20vw;
    border-radius: 0;
    border: 0;
}

.bru-text-dark {
    color: var(--color-dark);
}

.bru-bg-dark {
    background-color: var(--color-dark);
}

.bru-bold {
    font-weight: 900;
}

.bru-semi-bold {
    font-weight: bold;
}

.bru-height-high {
    height: 5rem;
}

.bru-review-photo-row-1 {
    grid-row-start: 1;
}

.bru-review-photo-row-2 {
    grid-row-start: 2;
}

.bru-review-photo-col-1 {
    grid-column-start: 2;
}

.bru-review-photo-col-2 {
    grid-column-start: 3;
}

.bru-review-photo-col-3 {
    grid-column-start: 4;
}

.bru-review-photo-col-4 {
    grid-column-start: 5;
}

.bru-review-photo-col-5 {
    grid-column-start: 6;
}

.bru-review-photo-text {
    align-self: end;
    justify-self: end;
}
