:root {
    --color-light: rgb(73, 177, 229);
    --color-dark: rgb(0, 71, 146);
}

@font-face {
    font-family: Flama-Book;
    src: url(/fonts/Flama-Book.otf);
}

@font-face {
    font-family: Flama-Book;
    font-weight: bold;
    src: url(/fonts/Flama-Semibold.otf);
}

@font-face {
    font-family: Flama-Book;
    font-weight: 900;
    src: url(/fonts/Flama-Extrabold.otf);
}

body#bruDigitalContest {
    font-family: Flama-Book, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Ubuntu",
        "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.circularBtn {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.contestAnswerPhotoCol {
    text-align: center;
}

.contestAnswerPhoto {
    border-radius: 35px;
}

.contestBtnCol {
    padding-top: 180px;
}

.reviewPhotoContainer p.reviewWrongAnswer {
    color: #f59999;
}

.reviewPhotoContainer {
    position: relative;
}

.reviewPhotoContainer p {
    position: absolute;
    bottom: 0.1em;
    right: 0.3em;
    font-size: 1.5em;
    color: #d1f5db;
    margin: 0;
}

.bru-index-bg {
    background: url(/Front_Image.jpg) no-repeat center;
    background-size: cover;
}

.splashTitleBox {
    background-color: #fff;
    opacity: 0.9;
    font-weight: 900;
}

.bru-text-light {
    color: var(--color-light);
}

.bru-bg-light {
    background-color: var(--color-light);
}

.bru-btn-light, input.bru-bg-light {
    border-color: var(--color-light);
}

.bru-square {
    border-radius: 0;
}

.contestGrid {
    display: grid;
    grid-template-columns: 1fr minmax(500px,810px) 1fr;
    align-items: center;
    justify-items: center;
}

.contestBtn {
    width: 100%;
    height: 20vw;
    border-radius: 0;
    border: 0;
}

.bru-text-dark {
    color: var(--color-dark);
}

.bru-bg-dark {
    background-color: var(--color-dark);
}

.bru-bold {
    font-weight: 900;
}

.bru-semi-bold {
    font-weight: bold;
}

.bru-height-high {
    height: 5rem;
}
